.ConfigPage {
  font-size: 22px;
  width: 15em; 
}

.ConfigPage-droppable {
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
}

.ConfigPage-exercise {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  min-height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.ConfigPage-focused {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.ConfigPage-handle {
  visibility: hidden;
  color: gray;
  height: 30px;
  width: 30px;
}

.ConfigPage-exercise:hover .ConfigPage-handle {
  visibility: visible;
}

.ConfigPage-editable {
  flex: 1;
  text-align: left;
  border: none;
  outline: 0px solid transparent;
}

.ConfigPage-remove {
  visibility: hidden;
  color: gray;
  height: 30px;
  width: 30px;
}

.ConfigPage-exercise:hover .ConfigPage-remove {
  visibility: visible;
}

.ConfigPage-handle:hover, .ConfigPage-remove:hover {
  color: darkgray;
}

.ConfigPage-focused .ConfigPage-remove {
  visibility: visible;
}

.ConfigPage-pseudoexercise {
  color: gray;
  font-size: 85%;
  font-variant: small-caps;
}

.ConfigPage-plus, .ConfigPage-clipboard {
  height: 24px;
  width: 30px;
}

.ConfigPage-copy {
  margin-left: auto;
}

.ConfigPage-insert:hover, .ConfigPage-copy:hover {
  color: darkgray;
}

.ConfigPage-buttons {
  display: inline-flex;
}

.ConfigPage-presets, .ConfigPage-start {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid transparent;
}

.ConfigPage-presets:hover, .ConfigPage-start:hover {
  background-color: darkgray;
}

.ConfigPage-presets {
  border-radius: 8px 0 0 8px;
}

.ConfigPage-start {
  border-radius: 0 8px 8px 0;
}

.ConfigPage-num-settings label {
  color: gray;
  font-size: 75%;
  font-variant: small-caps;
}

.ConfigPage-num-settings input {
  font-size: 80%;
  width: 60px;
  margin-left: 3px;
  margin-right: 3px;
  border: 0px solid transparent;
}
